@import "variables.scss";

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondary;
  color: $white;
  display: block;
}

.copyright {
  background-color: darken($secondary, 10%);
}
