@import "mixins.scss";
@import "variables.scss";

.masthead {
  padding-top: calc(4rem + 32px) ;
  padding-bottom: 6rem;
  height: 100% !important;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  .masthead {
    padding-top: calc(5rem + 50px);
    padding-bottom: 6rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }

  }
}
